<div ng-app="tangle" id="nodes_app">
  <div ng-controller="Tangle.NodesController">
    <ul>
      <li ng-repeat="node in nodes">
        {{node.title}}
      </li>
    </ul>

    <div class="row">

      <div class="span12" id="parent_container">
        <div id="parent_nodes">
          <div ng-repeat="node in parentNodes">
            <a class="node" ng-click="focusNode(node.uuid)">{{node.title}}</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="span3"></div>
      <div class="span6" id="primary_container">
        <div id="primary_node">{{primaryNode.title}}</div>
        <div id="notes" ng-bind-html-unsafe="primaryNode.description"></div>
      </div>
      <div class="span3"></div>

      <div class="span3"id="companions_container">
        <div id="companion_nodes">
          <div ng-repeat="node in companionNodes">
            <a class="node" ng-click="focusNode(node.uuid)">{{node.title}}</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="span12" id="children_container">
        <div id="children_nodes">
          <div ng-repeat="node in childNodes">
            <a class="node" ng-click="focusNode(node.uuid)">{{node.title}}</a>
          </div>
        </div>
      </div>
    </div>

  <div class="error">{{errorText}}</div>
  </div>
</div>
<script>
  var primaryNode = <%= raw @primary_node.to_json %>;
</script>
