<div id="nodes_app">

  <div class="row">

    <div class="span12" id="parent_container">
      <h4>Parents</h4>
      <div id="parent_nodes"></div>
    </div>

  </div>

  <div class="row">
    <div class="span3">_</div>
    <div class="span6" id="primary_container">
      <h2><div id="primary_node" style="font-weight: bold;"></div></h2>
    </div>
    <div class="span3">_</div>

    <div class="span9" id="notes_container">
      <h4>Notes</h4>
      <div id="notes"></div>
    </div>

    <div class="span3"id="companions_container">
      <h4>Companions</h4>
      <div id="companion_nodes"></div>
    </div>

  </div>

  <div class="row">
    <div class="span12" id="children_container">
      <h4>Children</h4>
      <div id="children_nodes"></div>
    </div>
  </div>

</div>
<script>
  var primaryNode = <%= raw @primary_node.to_json %>;
</script>
