<div id="nodes_app">
  Parents
  <div id="parent_nodes"></div>
  Primary
  <div id="primary_node" style="font-weight: bold;"></div>
  Siblings
  <div id="sibling_nodes"></div>
  Children
  <div id="children_nodes"></div>

  Notes
  <div id="notes"></div>
</div>
<script>
  var primaryNode = <%= raw @primary_node.to_json %>;
</script>
