<div id="nodes_app">
  <div xxng-controller="Tangle.NodesController">
    <ul>
      <li ng-repeat="node in nodes">
        {{node.title}}
      </li>
    </ul>

    <div id="left_column">
      <div class="content">
        <div id="companion_nodes">
          <div ng-repeat="node in companionNodes">
            <a class="node" ng-click="updatePrimary(node.uuid)">{{node.title}}</a>
          </div>
        </div>
      </div>
    </div>


    <div id="center_column">
      <div id="parent_nodes">
        <div class="content">
          <div ng-repeat="node in parentNodes">
            <a class="node" ng-click="updatePrimary(node.uuid)">{{node.title}}</a>
          </div>
        </div>
      </div>

      <div id="primary_container">
        <div id="primary_node">{{primaryNode.title}}</div>
        <div id="notes" ng-bind-html="primaryNode.description | unsafe"></div>
      </div>

      <div id="children_nodes">
        <div ng-repeat="node in childNodes">
          <a class="node" ng-click="updatePrimary(node.uuid)">{{node.title}}</a>
        </div>
      </div>

    </div>

    <div id="right_column">
      <div class="content">
        <div id="sibling_nodes">
          <div ng-repeat="node in siblingNodes">
            <a class="node" ng-click="updatePrimary(node.uuid)">{{node.title}}</a>
          </div>
        </div>
      </div>
    </div>



  <div class="error">{{errorText}}</div>
  </div>
</div>
