<div class="container-fluid" id="nodes_app">
  <div class="row">
    <div class="col-md-12 search_row">
      <input type="search" placeholder="Search" ng-model="searchText">
      <div class="search_results">
        <div class="search_result" ng-repeat="node in searchResults">
          <a class="node" ng-click="updatePrimary(node.uuid)" ng-bind-html="node.title | unsafe"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 companions">
      <div ng-repeat="node in companionNodes">
        <a class="node" ng-click="updatePrimary(node.uuid)" ng-bind-html="node.title | unsafe"></a>
      </div>
    </div>

    <div class="col-md-8 main_view">

      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12 parents">
            <div ng-repeat="node in parentNodes">
              <a class="node" ng-click="updatePrimary(node.uuid)" ng-bind-html="node.title | unsafe"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 primary_node_col">
            <div id="primary_node" ng-click="updatePrimary(primaryNode.uuid)" ng-bind-html="primaryNode.title | unsafe"></div>
            <div id="notes" ng-bind-html="primaryNode.description | unsafe"></div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-2 siblings">
      <div ng-repeat="node in parentNodes">
        <a class="node" ng-click="updatePrimary(node.uuid)" ng-bind-html="node.title | unsafe"></a>
      </div>
    </div>
  </div>

  <div class="row children_row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="children">
        <div ng-repeat="node in childNodes">
          <a class="node" ng-click="updatePrimary(node.uuid)" ng-bind-html="node.title | unsafe"></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="row error_row">
    <div class="col-md-12">
      <div class="error">{{errorText}}</div>
    </div>
  </div>
</div>
