/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#parent_container {
  #parent_nodes {
  }
}

#primary_container {
  #primary_node {
  }
}

#siblings_container {
  padding: 10px;
  #sibling_nodes {
  }
}

#children_container {
  #children_nodes {
  }
}
#notes_container {
  /* float: left; */
  #notes {
  }
}

.node {
  float: left;
  padding: 5px;
  border: 1px #ffcc11 solid;
  border-radius: 4px 4px 4px;
  margin: 5px;
  cursor: pointer;
  .uuid {
    cursor: default;
    font-size: 8px;
  }
}
