/* apply a natural box layout model to all elements */
/** {*/
  /*box-sizing: border-box;*/
/*}*/

body {
  background-color: #ddd;
  /*font-size: 12px;*/
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Roboto Slab', serif;*/
}

.search_row {
  background-color: white;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  input {
    width: 100%;
    border: none;
    outline: none;
  }
}
.search_results {
  width: 300px;
  position: absolute;
  background-color: white;
  z-index: 2;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.63);

  .search_result {
    display: block;
    clear: both;
  }
}

.primary_node_col {
  background-color: white;
  border-right: 1px #999 solid;
  border-bottom: 1px #999 solid;
}

#primary_node {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px 0 0px;;
}

.children {
  padding-left: 10px;
}

#notes {
  position: relative;
  height: 200px;
  padding: 10px;
  overflow: auto;
}

#nodes_app {
  a.node {
    color: #555;
  }

  .node {
    /*background-color: #fff;*/
    float: left;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px 1px 1px 0px;
    cursor: pointer;
    .uuid {
      display:none;
      cursor: default;
      font-size: 8px;
    }
  }
}

