/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #999;
  font-size: 12px;
}

#left_column {
  float: left;
  width: 30%;
  border: 1px solid #fff;
  height: 520px;
  display: table;
  .content {
    display: table-cell;
    vertical-align: middle;
  }
}
#center_column {
  float: left;
  width: 40%;
  border: 1px solid #000;
}
#right_column {
  float: left;
  width: 30%;
  height: 520px;
  border: 1px solid #0bc;
  display: table;
  .content {
    display: table-cell;
    vertical-align: middle;
  }
}

#parent_nodes {
  height: 140px;
  overflow: auto;
  display: table;
  .content {
    display: table-cell;
    vertical-align: bottom;
  }
}

#primary_container {
  background-color: #fff;
  width: 400px;
  height: 240px;

  #primary_node {
    font-weight: bold;
    padding: 10px 10px 0 10px;;
  }

  #notes {
    position: relative;
    height: 200px;
    padding: 10px;
    overflow: auto;
  }
}

#children_nodes {
  height: 140px;
  overflow: auto;
}

#siblings_nodes {
}


.node {
  background-color: #fff;
  float: left;
  padding: 5px;
  border: 1px #999 solid;
  margin: 1px 1px 1px 0px;
  cursor: pointer;
  .uuid {
    display:none;
    cursor: default;
    font-size: 8px;
  }
}
